<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Login</title>
    <link rel="stylesheet" href="/assets/css/yo.css">
</head>
<body>
    <div class="container">
        <h1 class="label">Sign up</h1>
        {{#if message}}
            <div class="alertmessage" role="alert">
                {{message}}
            </div>
        {{/if}}
        <form class = "login_form" action="/signup/save" method="post" id="form">
            <div class = "font"> Username</div>
            <input autocomplete = "off" type="text" name="username">
            <div id="username_error">Please enter username</div>
            <div class ="font font2">Password</div>
            <input type= "password" name="password">
            <div id="password_error">Please enter password</div>
            <button type="button" id="submit-button">Submit</button>
        </form>
    </div>

    <script src="aa.js"></script>
    <script src="/assets/js/jquery.js"></script>
    <script src="index.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script>

  //Validate inputs

$("#submit-button").click(function() {
   if(validated()){
       $("#form").submit();
   }
});

var username = document.forms['form']['username'];
var password = document.forms['form']['password'];

var username_error = document.getElementById('username_error');
var password_error = document.getElementById('password_error');

username.addEventListener('textInput', username_Verify);
password.addEventListener('textInput', password_Verify);

function validated(){
    var valid = true;

    if (username.value.length == 0){
        username.style.border ="1px solid red";
        username_error.style.display = "block";
        username.focus();
        valid = false;
    }
    if (password.value.length == 0){
        password.style.border ="1px solid red";
        password_error.style.display = "block";
        password.focus();
        valid = false;
    } 
    return valid;
}


function username_Verify(){
    if (username.value.length >=1){
        username.style.border = "1px solid silver";
        username_error.style.display = "none";
        return true;
    }
}

function password_Verify(){
    if (password.value.length >=1){
        password.style.border = "1px solid silver";
        password_error.style.display = "none";
        return true;
    }
}
</script>
</body>
</html>